body{
    margin: 0;
}
.container{
    display: flex;
    height: 100vh;
    /* margin: auto; */
    background-color: #ffbe76;
    justify-content: space-around;
    align-items: center;
}
.card{
    perspective: 1000px;
    transform-style: preserve-3d;
}
.card-item{
    background-color: #fff;
    width: 250px;
    height: 100px;
    transition: transform 0.2s;
    /* transform: rotateX(20deg); */
}